# Server Configuration
PORT=5000

# Database Connection (Team 6 Global DB)
MONGO_URI=mongodb+srv://ifeanyinj12:<db_password>@property-app-cluster.yflx5fn.mongodb.net/?appName=property-app-cluster

# Authentication Secret 
JWT_SECRET=super_secret_jwt_key_for_team_6

# Cloudinary Setup 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Any other api keys, secrets, or whatever, should be added to env
